<div class="container">
    <div class="mt-5 p-3 mb-2 bg-secondary text-white">
        <section class="mt-5">
            <h2>
                Description
            </h2>
            <p>
                <strong>
                    PortalToRickAndMorty
                </strong>
                is a project developed in Ruby on Rails with the aim of consuming the Rick and Morty API. The main purpose of this project is to study and learn more about API integration and development with Ruby on Rails.
            </p>

            <h2>
                Goal
            </h2>
            <p>
                This project was created to explore and consume the public Rick and Morty API. The idea is to use this API to practice development techniques, data manipulation, and API integration in a Rails application.
            </p>

            <h2>
                Features
            </h2>
            <ul>
                <li>
                    Consumes data from the Rick and Morty API.
                </li>
                <li>
                    Displays information about characters, episodes, and locations.
                </li>
                <li>
                    Allows navigation and viewing of data in a simple web interface, using Bootstrap for styling.
                </li>
            </ul>

            <h2>
                Requirements
            </h2>
            <ul>
                <li>
                    Ruby 3.x
                </li>
                <li>
                    Rails 7.x
                </li>
                <li>
                    Bundler
                </li>
                <li>
                    An internet connection
                </li>
            </ul>

            <h2>
                Installation
            </h2>
            <p>
                Clone the repository:
            </p>
            <pre><code>git clone https://github.com/your-username/portaltorickandmorty.git</code></pre>
        </section>

    </div>
</div>