<nav class="navbar bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="<%= rick_and_morty_path %>">
            <%= image_tag 'rick-y-morty-seeklogo.png', alt: 'rick_and_morty_logo', class: "w-40" ,height: 40 %>
            Portal Rick and Morty
        </a>
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-dark me-2 mt-2" href="<%= rick_and_morty_list_path %>">
                Characters
            </a>
            <a class="btn btn-outline-dark me-2 mt-2" href="<%= about_path %>">
                About
            </a>
        </div>
    </div>
</nav>